<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>支付</title>
    <script th:src="@{/jquery-1.11.0.min.js}"></script>
    <script th:src="@{/qrcode.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
<div id="qrcode"></div>
</body>
<script type="text/javascript">
    var qrcode = new Vue({
        el: 'qrcode',
        data: {
            url: ''
        },
        mounted: function () {
            var that = this;
            axios.get("/card/faceToFace").then(function (response) {
                console.log(response.data.data);
                that.url = response.data.data;
                new QRCode(document.getElementById("qrcode"), response.data.data);  // 设置要生成二维码的链接
            }).catch(function (error) {
                console.log(error);
            });
        }
    });
</script>
</html>